@keyframes slideInFromBottom {
    from{
        transform: translateY(100%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}

.slide-in-right {
    visibility: hidden;
}

@keyframes slideInFromRight {
    from{
        transform: translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }
}

.slide-in{
    animation: slideInFromBottom 1s ease-in forwards;
}

.slide-in-right{
    animation: slideInFromRight 1s ease-in forwards;
    animation-delay: 1.5s;
}

/*.slide-in-1s {*/
/*    animation: slideInFromBottom 0.75s ease-in forwards;*/
/*    animation-delay: 1s;*/
/*}*/
/*.slide-in-2s {*/
/*    animation: slideInFromBottom 0.75s ease-in forwards;*/
/*    animation-delay: 2s;*/
/*}*/
